@import '../../vars.css';

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgb(166, 169, 184, 0.2) 0%,
    rgba(166, 169, 184, 0) 100%
  );
  /* Свойства CSS paddingиспользуются для создания пространства вокруг содержимого элемента внутри любых определенных границ */
  /* 18px - верхние и нижние отступы */
  /* 24px - правые и левые отступы */
  padding: 18px 24px;
  max-width: 345px;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: clamp(20px, 2.5vw, 30px);
  font-weight: bold;
  color: var(--color-four);
}

.description {
  margin-top: 6px;
  font-size: clamp(20px, 2.5vw, 30px);
  font-weight: normal;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  color: #fff;
  font-size: clamp(20px, 2.5vw, 25px);
  font-weight: normal;
  border-radius: 100px;
  background: var(--color-background);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 27px;
  font-weight: 500;
  border-radius: 100px;
  background: var(--color-two);
  padding: 1px 22px;
}
