@import '../../vars.css';

.container {
  margin-top: 76px;
  color: var(--color-dark);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  /* flex-wrap определяет, будут ли flex-элементы переноситься на другую строку, если им не хватит места в ряду */
  /* wrap — элементы переносятся на новую строку */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  width: 100%;
}
