@import "../../vars.css";

.container {
  /* Позиция (position) относительно изображения*/
  position: relative;
  display: flex;
  /* выравнивнивание (align-items) объектов по центру*/
  align-items: center;
  /* Выравнивание содержимоего (justify-content) так, чтобы было пространство между ними */
  justify-content: space-between;
  /* Пространство между текстом и полем изображения 49px */
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.heroImg {
  width: 230px;
}
