@import '../../vars.css';

.container {
  /* Позиция (position) относительно изображения*/
  position: relative;
  display: flex;
  /* выравнивнивание (align-items) объектов по центру*/
  align-items: center;
  /* Выравнивание содержимоего (justify-content) так, чтобы было пространство между ними */
  justify-content: space-between;
  /* Пространство между текстом и полем изображения 49px */
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

/* Стили содержимого */
.content {
  display: flex;
  /* flex-direction - определяет, как элементы размещаются в гибком контейнере*/
  flex-direction: column;
  /* align-items: flex-start -  выравнивает гибкие элементы заподлицо с основной или перекрестной стороной гибкого контейнера.*/
  align-items: flex-start;
  color: var(--color-dark);
  z-index: 1;
}

.title {
  /* font-size: 35px; */
  font-size: calc((100vw - 480px) / (1280 - 480) * (35 - 24) + 24px);
  font-weight: 900;
  /*  margin-bottom - добавление отступа внизу*/
  margin-bottom: 33px;
  font-family: var(--font-robot);
  background: linear-gradient(
    90deg,
    rgba(155, 120, 131, 1) 70%,
    rgba(155, 120, 131, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  /* font-size: 30px; */
  font-size: calc((100vw - 480px) / (1280 - 480) * (30 - 22) + 22px);
  font-family: var(--font-robot);
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-secondary);
  color: var(--color-bg);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0, 0.25);
}

.heroImg {
  width: 50%;
  z-index: 1;
  /* animation-name - даем имя анимации */
  animation-name: floating;
  /* animation-duration - задаем продолжительность анимации*/
  animation-duration: 3s;
  /* animation-iteration-count - задаем, сколько раз должна запускаться анимация */
  animation-iteration-count: infinite;
  /* animation-timing-function - задаем, как выглядит движение анимации*/
  animation-timing-function: ease-in-out;
}

/* @keyframes - поможет двигаться анимации */
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* Блюр на верхней области страницы */
.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-height: 350px;
  /* top: -128px - выход за пределы экрана */
  top: -128px;
  left: -10vw;
  /* border  - радиус границы*/
  border-radius: 764px;
  background: rgba(255, 255, 255, 0.7);
  /* filter: blur - фильтр, который размывает */
  filter: blur(100px);
  z-index: 0;
}

/* Блюр на нижней области страницы */
.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-height: 250px;
  /* top: -128px - выход за пределы экрана */
  top: 246px;
  right: -25vw;
  /* border  - радиус границы*/
  border-radius: 764px;
  background: rgba(255, 255, 255, 0.7);
  /* filter: blur - фильтр, который размывает */
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }
  .content {
    /* align-items: center - выровнять элементы по центру */
    align-items: center;
  }
  .title {
    text-align: center;
    margin-top: 29px;
  }
  .description {
    text-align: center;
  }
}
