@import '../../vars.css';

.container {
  color: #fff;
  margin-top: 120px;
  width: 100vw;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 110px;
}

.title {
  font-size: clamp(25px, 2.5vw, 35px);
  font-weight: bold;
  text-transform: uppercase;
}

.content {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-top: 37px;
}

.contact {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contactImage {
  height: auto;
  width: 100%;
}

.imgLink {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: flex-end;
}

.imgLink img {
  width: 30px;
}

.form {
  width: 30vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 60px 100px;
  background: rgba(42, 45, 62, 0.3);
  border: 1px solid #a6a9b8;
}

h1 {
  font-size: clamp(22px, 2.5vw, 32px);
  text-transform: uppercase;
  font-weight: 900;
  color: var(--color-seven);
  /* font-style: italic; */
}

.data_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 35px;
  margin-top: 35px;
}

input {
  background: transparent;
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #a6a9b8;
  padding-inline: 20px;
  font-size: clamp(16px, 2.5vw, 24px);
  font-weight: 300;
  font-style: italic;
  color: var(--color-four);
}

input::placeholder {
  color: var(--color-eight);
}

textarea {
  margin-top: 40px;
  display: flex;
  width: 100%;
  border: 1px solid #a6a9b8;
  border-radius: 13px;
  padding: 20px 25px;
  background: transparent;
  font-size: clamp(16px, 2.5vw, 24px);
  font-weight: 300;
  font-style: italic;
  color: var(--color-four);
}

textarea::placeholder {
  color: var(--color-eight);
}

.send {
  width: 100%;
  height: 100%;
}

button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 50px;
  font-size: clamp(16px, 2.5vw, 24px);
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  color: var(--color-eight);
  border: 1px solid #c6526d;
}

button:hover {
  background: #c6526d;
}

button:active {
  transform: translateY(2px);
}

@media screen and (min-width: 240px) and (max-width: 1570px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .contact {
    align-items: center;
    justify-content: center;
  }

  .form {
    margin-top: 39px;
    width: 100%;
    padding: 40px 30px 50px;
    gap: 14px;
  }

  input,
  button {
    display: block;
    margin: 10px auto;
  }

  input {
    min-width: 220px;
  }
}
