@import '../../vars.css';

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: calc((100vw - 480px) / (1280 - 480) * (35 - 24) + 24px);
  font-weight: 600;
  text-decoration: none;
  color: var(--color-secondary);
}

.menu {
  display: flex;
}
.menuBtn {
  display: none;
}

.menuItems {
  display: flex;
  gap: 35px;
  list-style: none;
}

.menuItems a {
  font-size: calc((100vw - 480px) / (1280 - 480) * (30 - 20) + 20px);
  color: var(--color-secondary);
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    z-index: 100;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    /* background: var(--color-bg); */
    background: linear-gradient(
      0deg,
      rgba(238, 220, 211, 0.2) 20%,
      rgba(238, 220, 211, 1) 60%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }
  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
