* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

html {
  /* scroll-behavior - управляет поведением прокрутки внутри блока. Значение smooth делает её плавной. */
  scroll-behavior: smooth;
}
