* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Concolas', 'Ubuntu', 'Courier New', monospace;
}

html {
  /* scroll-behavior - управляет поведением прокрутки внутри блока. Значение smooth делает её плавной. */
  scroll-behavior: smooth;
}
